<div id="overlay">

    <div  class="window">
        <div class="window-caption bg-teal">
            <span class="icon mif-bookmarks"></span>
            <span class="title">Bookmarks</span>
            <div  class="buttons">
                <span class="button btn-custom bg-teal">
                    <span (click)="displayTable = true" *ngIf="!displayTable" class="mif-table"></span>
                    <span (click)="displayTable = false"  *ngIf="displayTable" class="mif-file-text"></span>
                </span>
               
                <span (click)="onClose()" class="btn-close"></span>
            </div>
        </div>
        <div class="window-content p-2">
            <div *ngIf="!displayTable">
            <div class="form-group">
                <label>Bookmark Name</label>
                <input type="text" [(ngModel)]="bookmark.bookmark_name" uppercase placeholder="Enter name"/>
            </div>
            <div class="form-group">
                    <label>Comment</label>
                <textarea [(ngModel)]="bookmark.bookmark_comments" uppercase data-role="textarea"></textarea>
            </div>
            <div class="form-group">
                    <button (click)="onSave()" class="button bg-teal">Submit Bookmark</button>
                    
            </div>
          </div>
        <app-bookmark-table *ngIf="displayTable"></app-bookmark-table>
    </div>
</div>