<h2 style="text-align:center">{{title}}</h2>
<div>


<div class="card">
  <div class="card-header">
      <div class="avatar">
          <img src="http://lorempixel.com/68/68/people/">
      </div>
      <div class="name">John Doe</div>
      <div class="date">Monday at 3:47 PM</div>
  </div>
  <div class="card-content p-2">
      <img src="http://lorempixel.com/1000/600/" style="width: 100%">
  </div>
  <div class="card-footer">
      <button class="button mif-zoom-in"></button>
      <button class="button mif-comment"></button>
      <button class="button mif-share"></button>
  </div>
</div>
  <hr>
</div>
