<div class="window" cdkDrag [ngStyle]="style">
  <div class="window-caption bg-pink">
      <span class="icon mif-info"></span>
      <span class="title">Identify</span>
      <div class="buttons">
            <!-- <span *ngIf="visible" (click)="getHeight()" class="btn-min"></span>
            <span *ngIf="!visible" (click)="getHeight()" class="btn-max"></span> -->
          <span (click)="onClose()" class="btn-close"></span>
      </div>
  </div>
  <div  class="window-content p-2">
    <p>Buffer Meters - (Press enter to change)</p>
    <div class="input">
        <input (keydown.enter)="changeBuffer()" type="number" [(ngModel)]="buffer">
        <div class="button-group">
            <button (click)="onReset()" class="button" type="button">
              <span class="default-icon-cross"></span>
            </button>
        </div>
      </div>
   
    <div>
      <br>
      <div style="text-align: center;">
        <button [ngClass]="{'btnSelected': docsSel}" class="button outline bg-pink">
          DOCS
          <span class="badge">{{docSize}}</span></button>
        <button [ngClass]="{'btnSelected': ticketsSel}" class="button outline bg-pink">
          TICKETS
          <span class="badge">{{ticketSize}}</span>
        </button>
        <button [ngClass]="{'btnSelected': otherSel}" class="button outline bg-pink">
          OTHER
          <span class="badge">{{otherSize}}</span>
        </button>
    </div>
    <br>
       <swiper [config]="config" class="swiper-container">
        <app-docs-preview (onDelete)="onDownloadDocs(true)"  (openDoc)="ondoc($event)" [esriMap]="esriMap" *ngFor="let item of attachments" [files]="item.file_info.files" [items]="item" [attach_id]="item.attach_id"></app-docs-preview>
       </swiper>
      
    </div>
  </div>
</div>