<h2 style="text-align:center">{{title + ': ' + inbox.length }} </h2>
<div style="background-color: #9E2CCF !important;" class="suggest-box">
  <input [(ngModel)]="searchAll" uppercase type="text" placeholder="Search" data-role="input" data-clear-button="false" data-search-button="true">
  <button style="color: white;" class="button holder">
      <span class="mif-search"></span>
  </button>
</div>
<div *ngFor="let item of inbox | filtermine:searchAll; index as i;">
  <div class="card">
    <div class="card-header">
        <div class="avatar">
            <!-- <img src="http://lorempixel.com/68/68/people/"> -->
            <img [src]="item.icon" >
        </div>
        <h2 style="text-align: center;color: #E52888;" *ngIf="item.walk_in == 'Yes'">WALK IN</h2>
        <div class="name">{{item.full_name}}</div>
        <div class="date"><a href="#">{{item.objectid}}</a></div>
        <div class="date">{{item.created_date}}</div>
        
    </div>
    <div style="height: 250px; overflow: auto;" class="card-content p-2">
        <!-- <img src="http://lorempixel.com/1000/600/" style="width: 100%"> -->
        <app-preview-ticket *ngIf="!item.comment" [ticket]="item"></app-preview-ticket>
        <app-preview-ticket-comments [onEdit]="onAddComment" [ticketNumber]="item.id_ticket" *ngIf="item.comment"></app-preview-ticket-comments>
    </div>
    <div class="card-footer">
        <button (click)="onZOOM(item)" [ngClass]="{'btnSelected': item.view}" class="button mif-zoom-in rounded"></button>
       
        <div class="dropdown-button">
            <button [ngClass]="{'btnSelected': item.comment}" class="button  rounded dropdown-toggle"><span class="mif-comment"></span></button>
            <ul class="d-menu" data-role="dropdown">
                <li><a (click)="onPreviewC(item)" [ngClass]="{'btnSelected': item.comment}">View Comments</a></li>
                <li><a (click)="onAddC(item)">Add Comment</a></li>
            </ul>
        </div>
        
        <button class="button mif-flow-tree rounded"></button>
        <h3  [ngClass]="{'w': item.view}">{{i + 1}}</h3>
        
    </div>
    <br>
        <small *ngIf="item.zoomIn"  class="text-muted">Can't zoom in no x and y available.</small>
        <br>
  </div>
    <hr>
    <br>
</div>
