<ul *ngIf="!onEdit" class="items-list">
    <li *ngFor="let item of comments">
        <img class="avatar" src="https://svgshare.com/i/65U.svg">
        <span class="label">{{item.first_name + " " + item.last_name}}</span>
        <span class="second-label">{{item.ticket_comments}}</span>
        <span class="second-action mif-alarm fg-red">{{item.time_stamp}}</span>
    </li>
</ul>
<form *ngIf="onEdit">
    <div class="form-group">
        <textarea [(ngModel)]="message" data-role="textarea"></textarea>
    </div>
    
    <div class="form-group">
        <button class="button">Submit Comment</button>
    </div>
</form>