.items-list>li .second-action {
    width: auto !important;
}

.items-list > li {
    height: auto;
}
.lblname {
    float: left;
    margin-left: 56px;
}
.second-label{

    display:block;
    width:340px;
    word-wrap:break-word;
}