.rotate {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 30px !important;
    height: 30px !important;
  
}

.window {
    position: absolute; top: 0; right: 0; height: 100%; width: 50%;
}

@media only screen and (max-width: 600px) {
    .window {
        position: absolute; top: 0; right: 0; height: 100%; width: 94%;
    }
  }

