<div style="width: 100%; height: 100%;" (window:resize)="onResize($event)" >
  <div [ngStyle]="{'width': widthPane}" style="height: 100px; float: left;">


      <div class="sidebar-header" style="background: transparent; background-image: url('assets/sb-bg.png')" >
        <a class="fg-white sub-action">
            <span (click)="onCSS()" [ngClass]="{'mif-arrow-left': displayProfile, 'mif-arrow-right': !displayProfile}" class="mif-arrow-left mif-2x pull-button"></span>
        </a>
        <div *ngIf="displayProfile" class="avatar">
            <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
        </div>
        <span *ngIf="displayProfile" class="title">{{configs.selfuser.getFullName()}}</span>
        <span *ngIf="displayProfile" class="subtitle">{{configs.selfuser.getOrga()}}</span>
    </div>
  </div>

  <div [ngStyle]="{'width': widthContent}" style="float: left; height: 100%">
    <router-outlet></router-outlet>
     
  </div>
</div>

