<div data-role="navview"  data-expanded="fs">
  <div  class="navview-pane">


      <div class="sidebar-header" style="background: transparent; background-image: url('assets/sb-bg.png')" >
        <a class="fg-white sub-action">
            <span (click)="onCSS()" [ngClass]="{'mif-arrow-left': displayProfile, 'mif-arrow-right': !displayProfile}" class="mif-arrow-left mif-2x pull-button"></span>
        </a>
        <div *ngIf="displayProfile" class="avatar">
            <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
        </div>
        <span *ngIf="displayProfile" class="title">{{configs.selfuser.getFullName()}}</span>
        <span *ngIf="displayProfile" class="subtitle">{{configs.selfuser.getOrga()}}</span>
    </div>

      <div class="suggest-box">
        <div class="input">
            <input placeholder="Search Map" type="text"  data-search-button="true">
            <div class="button-group">
              <button class="button input-search-button" tabindex="-1">
                <span class="default-icon-search"></span>
              </button>
            </div>
        </div>
       
        <button (click)="onCSS()" class="holder">
            <span style="color: #f53e99" class="mif-search"></span>
        </button>
      </div>
  </div>

  <div class="navview-content">
    <router-outlet></router-outlet>
     
  </div>
</div>

