<div cdkDrag [ngStyle]="style">
    <div style="width: 4px;height: 40px;float: left;background: #C12F79;"></div>
  <div style="float: left" class="multi-action">
    <button (click)="onMiniBar()" class="action-button rotate-minus bg-red fg-white"
            onclick="$(this).toggleClass('active')">
        <span class="icon"><span class="mif-plus"></span></span>
    </button>
    <ul class="actions drop-right drop-shadow">
        <li (click)="onHomeExtent()" class="bg-blue"><a href="#"><span class="mif-home"></span></a></li>
        <li (click)="onOpenBookMark()" class="bg-teal"><a ><span class="mif-bookmarks"></span></a></li>
        <li class="bg-pink"><a ><span class="mif-info"></span></a></li>
        <li (click)="onOpenAttach()" class="bg-orange"><a><span class="mif-attachment"></span></a></li>
        <li style="background: transparent;box-shadow: none;"><a ><img  src="assets/world.svg"  /></a></li>
    </ul>
</div>
</div>
