<table class="table">
    <thead>
    <tr>
        
        <th>Name</th>
        <th>Comment</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Bill</td>
        <td><button class="button bg-teal">Zoom</button></td>
    </tr>
    <tr>
            <td>1</td>
            <td>Bill</td>
            <td>Bill</td>
        </tr>
        <tr>
                <td>1</td>
                <td>Bill</td>
                <td>Bill</td>
            </tr>
            <tr>
                    <td>1</td>
                    <td>Bill</td>
                    <td>Bill</td>
                </tr>
    <tr>
        <td>2</td>
        <td>Steve</td>
        <td>Bill</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Larry</td>
        <td>Bill</td>
    </tr>
    </tbody>
</table>
