.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
  }

  .context-menu__item {
    padding: 8px;
    display: block;
    
    margin-bottom: 4px;
    cursor: pointer;
  }
  .context-menu__item:last-child {
    margin-bottom: 0;
  }

  li:hover {
    cursor: pointer;
    background: #E52888;
  }