<div [ngStyle]="style">
    <ul class="context-menu__items">
        <li (click)="onClose()" class="context-menu__item">
            <span class="mif-file-text"></span>
            New Ticket
        </li>
        <li (click)="onClose()" class="context-menu__item">
            <span class="mif-image"></span>
            New Subdivision
        </li>
        <li (click)="onClose()" class="context-menu__item">
            <span class="mif-info"></span>
            Identify
        </li>
        <li (click)="onClose()" class="context-menu__item">
            <span class="mif-clipboard"></span>
            Copy X</li>
        <li (click)="onClose()" class="context-menu__item">
            <span class="mif-clipboard"></span>
            Copy Y</li>
            <li (click)="onCloseToolbar()" class="context-menu__item">
                <span class="mif-tools"></span>
                Map Toolbar
            </li>
    </ul>
</div>
